%h4.center-align 
	= current_user.first_name  
	= current_user.last_name 
	= unless image_tag current_user.user_image.url(:medium)
		= image_tag src: 'https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAL4AAAAJDU3ZDZkODk2LTA0NjAtNGU5ZC05OGY2LTJhYjg0YTRjNmYxMA.jpg'
%h5.center-align  
	= current_user.description 
%br
%h4.center-align
	Bucketlist Items :

	%h4.center-align
		%h5{:href => "#"} 
			= link_to 'Add Activity', new_activity_path
		%h5{:href => "#"} 
			= link_to 'Remove an Activity', new_activity_path
