%br
%br
%br
%br
= form_for @activity, html: { multipart: true } do |f|
	.input-field
		= f.label :title
		%br/
		= f.text_field :title, placeholder: 'Add name of goal', class: 'formcontrol'
	.input-field
		= f.label :description
		%br/
		= f.text_field :description, placeholder: 'Description of goal', class: 'formcontrol'
		%br/
	.input-field
		= f.file_field :image
	.actions
		= f.submit "Submit", class: 'btn'
